.titleDiv{
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #e2e2e2;
    border-radius: 32px;
}

.titleDiv:hover{
    background-color: #b2b2b2;
}

.backBtn{
    margin-bottom: 10px;
}