.titleDivPost{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 32px;
    background-color: #e2e2e2;
    cursor: default;
}

.commentDiv{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 32px;
    background-color: #c2c2c2;
}